<input id = "name-input" placeholder="Name" ng-model="vm.newName">
<input id = "phone-input" placeholder="Phone" ng-model="vm.newPhone">
<button id = "menu-search" ng-click="vm.back()">Back</button>
<button id = "save-link" ng-click="vm.addNew()">Add new</button>