<!--<style type="text/css">-->
    <!--.done {text-decoration: line-through}-->
<!--</style>-->
<input id = "search-string" ng-model="query" type="text"
       placeholder="Filter by" autofocus>
<div>
    <table id="table" style="width: 300px; border-collapse: collapse; border-bottom: solid thin">
        <tr style="border-bottom: solid thin">
            <th style="text-align: start">Name</th>
            <th style="text-align: start">Phone</th>
            <th style="text-align: start">Select</th>
            <th style="text-align: start">Delete</th>
        </tr>
        <tr ng-repeat="item in vm.items | filter:query | orderBy: 'name'" ng-class="{'selected': item.done}">
            <td ng-class="{done: item.done}"><a class= "edit-link" href="#/search/{{item._id}}">{{item.name}}</a></td>
            <td ng-class="{done: item.done}">{{item.phone}}</td>
            <td><input class = "selected" type ="checkbox" ng-model="item.done"></td>
            <td><a class = "delete-link" href ng-click="vm.removeItem(item._id)">X</a></td>
        </tr>
    </table>
</div>
<br><br>
<button id = "menu-new" ng-click="vm.add()">Add new</button>