<!--name:{{vm.item.name}}<br>-->
<input id = "name-input" ng-model="vm.item.name"/>
<input id = "phone-input" ng-model="vm.item.phone"/>
<button id = "menu-search" ng-click="vm.back()">Back</button>
<button id = "save-link" ng-click="vm.save(vm.item)">Save</button>